.home {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../assets/img/index.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
}

.overview {
  padding: 10rem 0;
}

.overview__icon {
  font-size: 3rem;
  padding: 1rem 0;
  display: inline-block;
}

.overview h2,
.overview h4 {
  font-weight: normal;
}

.report {
  background-color: #e5e5e5;
  height: 75vh;
}

.report__list {
  list-style: none;
  padding: 0 !important;
}

.report__list li {
  margin-top: 2rem;
}

.footer {
  margin-top: 12rem;
  bottom: 0;
  left: 0;
  padding: 2rem;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.decide .decide__left-button {
  border-radius: 0.5rem 0 0 0.5rem;
  padding-right: 1rem;
}

.decide span {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  padding: 0 .1rem .1rem .1rem;
  top: 50%;
  left: 49.8%;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8rem;
  display: flex;
  transform: translate(-50%, -50%);
}

.decide .decide__right-button {
  border-radius: 0 0.5rem 0.5rem 0;
  padding-left: 1rem;
}
